<h1><%= @book.title %></h1>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Total Copies:</strong>
  <%= @book.total_copies %>
</p>

<% if current_user.librarian? %>
  <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-warning' %>
  <%= link_to 'Back', books_path, class: 'btn btn-secondary' %>
  <%= link_to 'Delete', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% else %>
  <%= link_to 'Back', books_path, class: 'btn btn-secondary' %>
<% end %>
